.title-header{
    color: #a5ebf5;
}

.container-nota{
    border: 1px solid #116c4b;
    padding: 10px;
    background-color: #3e6166;
}

h3{
    color: #9b4747;
    margin-top: 10px;
    font-style: italic;
}